.fa-snowflake {
  display: inline-block;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
  background-color: white;
  border-radius: 50%;
  z-index: 1000;
}

@keyframes fall {
	to {
		transform: translateY(100vh);
	}
}

.snow {
  z-index: 999;
  position: absolute;
  height: calc(100vh - 140px);
  width: 50%;
  top: 70px;
  left: 25%;
  overflow: hidden;
  pointer-events: none;
}
